/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree 
 *= require_self
 */

 html {
	 height: 100%;
 }

body {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	text-align: center;
	background-color: #F2F2F2;
	background-image: linear-gradient( #FFFFFF, #F2F2F2, #A4A8BF);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #333740;
	height: 100%;
}

h1 {
	color: #333740;
}

p {
	font-family: 'Times New Roman', Times, serif;
}

h4 {
	font-style: italic;
}

a {
	color: #333470;
	background-color: #A4A8BF;
	padding: 10px;
}

a:visited {
	color: #333470;
}

a:hover {
	background-color: #75aabf;
}


@media (prefers-color-scheme: dark) {
	body {
		background-color: #333470;
		color: #F2F2F2;
		background-image: linear-gradient( #a4a8bf, #5d6473, #333740);
	}

	h1 {
		color: #F2F2F2;
	}

	a {
		background-color:  #5d6473;
		color: #f2f2f2 !important;
	}

	.formlabel {
		color: #f2f2f2;
	}

	.displayinfo {
		color: #f2f2f2;
	}

	li a, .dropbtn {
		background-color: #5d6473 !important;
	}

	li a:hover {
		background-color: #75aabf !important;
	}

  	.card-body {
		background-color: #5D6473;
	}

	.card-button {
		background-color: #333740;
	}

	.cta_button {
		background-color: #333740;
		color: #f2f2f2;
	}
	
	.formButton {
		background-color: #333740;
		color: #f2f2f2 !important; 
	}

	.dropdown-content {
		color: #5d6473;
	}

	.field {
		background-color: #5d6473;
	}

	.overrideLinkStyle {
		background-color: #5d6473;
	}
}



