header {
  nav {

    ul {
      list-style-type: none;
      margin-bottom: 25px;
      padding: 0;
      overflow: hidden;
      background-color: #333740;

    }

    li {
      float: left;
    }
    
    li a, .dropbtn {
      display: inline-block;
      color: #F2F2F2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navItem {
      display: inline-block;
      color: #F2F2F2;
      background-color: #333740;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li .dropbtn {
      color: #333740;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
      background-color: #75aabf;
      color: #F2F2F2;
    }
    
    li.dropdown {
      display: inline-block;
      float: right;
    }
    
    .dropbtn {
      background: #F2F2F2;
      text-decoration: none;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f2f2f2;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: #333740;
      background-color: #f2f2f2;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #333740;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }    
}