// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #a4a8bf;
    box-shadow: 0 8px 16px 0 rgba(0,0,75,0.2);
    border: 0px solid black;
	border-radius: 8px;
}

.formLabel {
    color: #333740;
    margin-top: 10px;
    text-align: left;
    width: 75%;
    font-size: 16px;
}

.formField {
    border-radius: 5px;
    width: 75%;
    font-size: 16px;
}

.displayInfo {
    color: #333740;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 75%;
    font-size: 16px;
}

.formButton {
    background-color: #f2f2f2;
    margin: 10px;
    text-decoration: none;
}

.overrideLinkStyle {
    background-color: #a4a8bf;
}

.overrideLinkStyle:hover {
    background-color: #a4a8bf;
}

.cta_button {
	color: #333470;
	background-color: #f2f2f2;
	padding: 10px;
	text-decoration: none;
    border: 0px;
    margin: 10px;
}

.cta_button:hover {
    background-color: #75aabf;
}

.specialForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}